<!-- Component-list -->

<!-- ANTES DE CARDS
<div class="container">
    <h1>Images</h1>
    <ul class="list-group">
        <a *ngFor="let image of images" [routerLink]="['/image', image.id]" class="list-group-item list-group-item-action animate_animated animate_bounce animate_fadeIn">
          {{image.id}}  - {{image.author}}
        </a>
    </ul>
</div>
-->



<div class="container">
    <h1>Images</h1>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1, 2, 3, 4, 5]">
            <mat-card class="mat-elevation-z4">
                <ul class="list-group">
                    <a *ngFor="let image of images" [routerLink]="['/image', image.id]" class="list-group-item list-group-item-action animate_animated animate_bounce animate_fadeIn">
              {{image.id}}  - {{image.author}}
      </a>
                </ul>
            </mat-card>
        </div>
    </div>
</div>